<launch>
    <arg name="init_pcd_file" default="/home/xpp/Projects/hookload_collision_det_debug/data/test2/1760681218.040858540.pcd"/> <!-- path to init pcd file -->
    <arg name="test_pcd_files_dir" default="/home/xpp/Projects/hookload_collision_det_debug/data/test2/"/> <!-- path to test pcd files fold-->

    <node pkg="hookload_det" type="hook_det_and_track_mouseclick_test" name="hook_det" output="screen">
        <param name="init_pcd_file" value="$(arg init_pcd_file)"/>
        <param name="test_pcd_files_dir" value="$(arg test_pcd_files_dir)"/>
    </node >
</launch>
